/* Phone */
@media (max-width : 600px) {
    .education-item-info {
        align-items: left;
        padding-left: 5%;
    }
    
    .education-item-container {
        padding: 0 0 5% 0; 
        align-items: center;
        justify-content: center;
    }
    
    .education-item-image {
        width: 100%;
        margin-left: 0%; 
    }
    
    .education-name {
        font-size: 1.5em;
        font-weight: bold;
    }
    .education-description {
        text-align: left;
    }
}

/* Tablet */
@media (min-width : 601px) and (max-width : 900px) {
    .education-item-info {
        align-items: left;
        padding-left: 5%;
    }
    
    .education-item-container {
        padding: 0 15% 5% 5%; 
        align-items: center;
        justify-content: center;
    }
    
    .education-item-image {
        width: 75%;
        margin-left: 20%; 
    }
    
    .education-name {
        font-size: 1.5em;
        font-weight: bold;
    }
    .education-description {
        text-align: left;
    }
}

/* Desktop */
@media (min-width : 901px) and (max-width : 1200px) {
    .education-item-info {
        align-items: left;
        padding-left: 5%;
    }
    
    .education-item-container {
        padding: 0 15% 5% 5%; 
        align-items: center;
        justify-content: center;
    }
    
    .education-item-image {
        width: 60%;
        margin-left: 35%; 
    }
    
    .education-name {
        font-size: 1.5em;
        font-weight: bold;
    }
    .education-description {
        text-align: left;
    }
}

/* Desktop */
@media (min-width : 1201px) {
    .education-item-info {
        align-items: left;
        padding-left: 5%;
    }
    
    .education-item-container {
        padding: 0 15% 5% 5%; 
        align-items: center;
        justify-content: center;
    }
    
    .education-item-image {
        width: 50%;
        margin-left: 45%; 
    }
    
    .education-name {
        font-size: 1.5em;
        font-weight: bold;
    }
    .education-description {
        text-align: left;
    }
}