/* Phone */
@media (max-width : 600px) {
    .personal-title {
        margin: auto;
        width: 100%;
        color: White;
        font-weight: bolder;
        text-align: left;
        font-family: sans-serif;
    }
    
    .name {
        font-size: 3em;
        margin: 0;
    }
    
    .profession {
        font-size: 2em;
        margin: 0;
    }
    
    .location {
        font-size: 2em;
        margin: 0;
    }
    
    #skip-intro {
        font-size: .5em;
        position: absolute;
        bottom: 2em;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
}

/* Phone */
@media (min-width : 601px) {
    .personal-title {
        margin: auto;
        width: 100%;
        color: White;
        font-weight: bolder;
        text-align: left;
        font-family: "Times New Roman";
    }
    
    .name {
        font-size: 4em;
        margin: 0;
    }
    
    .profession {
        font-size: 3em;
        margin: 0;
    }
    
    .location {
        font-size: 3em;
        margin: 0;
    }
    
    #skip-intro {
        position: absolute;
        bottom: 1em;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
}