.image-container {
    flex: 1;
}

.circle-image {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}



@media (max-width : 600px) {
    .summary-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .summary {
        flex: 2;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .summary-image {
        width: 65%;
    }

    .basicInfo {
        flex: 1;
        font-size: 5.5vw;
    }
}

@media (min-width : 601px) and (max-width : 900px) {
    .summary-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .summary {
        flex: 2;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .summary-image {
        width: 65%;
    }

    .basicInfo {
        flex: 1;
        font-size: 3.5vw;
    }
}

@media (min-width : 901px) {
    .summary-container {
        display: flex;
        padding: 4em 3em 4em 3em;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .summary {
        flex: 2;
        margin-left: 5%;
        margin-right: 5%;
    }
        
    .summary-image {
        width: 100%;
    }

    .basicInfo {
        flex: 1;
        font-size: 1.25vw;
    }
}