@media (max-width : 600px) {
    .skills-container {
        display: flex;
        flex-direction: column;
    }

    .skills {
        flex: 1;
    }
}

@media (min-width : 601px) {
    .skills-container {
        display: flex;
        flex-direction: row;
        padding-bottom: 10em;
        padding-top: 5em;
    }

    .skills {
        flex: 1;
        margin: 2em;
    }
}